h1{
    text-transform: capitalize;
}

#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}
.hi{ 
 height:250px;
 width:250px;
 background-color: aquamarine;
 border-radius: 1000px;
 border-bottom-color: red;
 border-top-color: yellow;
 border-style:ridge;

}